{#レイアウトを継承します#}
{% extends "layout/layout.twig" %}

{#HTMLのタイトルを定義します。#}
{% block title %}TOP{% endblock %}

{# 適用させたいスタイルシートのパスを指定します #}
{% block header_scripts_add %}
{% endblock %}

{#ここから表示したい情報を記載します。#}
{% block page_content %}

    <img src="../public/assets/images/MainImage.jpg" class="img-fluid mx-auto d-block" alt="メイン画像">


    <div class="page-header text-center">
        <h1>カツラマッチ</h1>
    </div>
    <button type="button" class="btn btn-danger btn-lg mx-auto d-block mt-4 mb-4" style="width: 200px;">登録はこちら！</button>


    <div class="container">
        <div class="box mt-4 mb-4">
            <div class="flex-column">
		<div class="card mx-auto">
                    <div class="card-body">
		        <p class="border-bottom text-center" style="font-size:28px;">このサイトについて</p>
                        <a>コンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツ
                        コンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツ
                        コンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツ
                        コンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツ
                        コンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツ</a>

		    </div>
		</div>
            </div>
	</div>

	
        <div class="box">
	    <div class="card text-white bg-info mb-0 mx-auto" style="max-width: 50rem;">
	        <div class="card-header">ステップ１</div>
 		<div class="card-body">
		    <h4 class="card-title">コンテンツコンテンツ</h4>
		    <p class="card-text">コンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツ</p>
                </div>
 	    </div>

	    <div class="card text-white bg-primary mb-0 mx-auto" style="max-width: 50rem;">
                <div class="card-header">ステップ２</div>
                <div class="card-body">
                    <h4 class="card-title">コンテンツコンテンツ</h4>
                    <p class="card-text">コンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツ</p>
               </div>

            </div>
	    <div class="card text-white bg-success mb-0 mx-auto" style="max-width: 50rem;">
		<div class="card-header">ステップ３</div>
	        <div class="card-body">
		    <h4 class="card-title">コンテンツコンテンツ</h4>
		    <p class="card-text">コンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツ</p>
                </div>
            </div>
	</div>


	<div class="box mt-4 mb-4">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card">
                    <img class="card-img-top" src="" alt="Ａ社のイメージ">
                        <div class="card-body">
                            <h4 class="card-title">Ａ社</h4>
                            <p class="card-text">Ａ社の説明</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="card">
                        <img class="card-img-top" src="" alt="Ｂのイメージ">
                        <div class="card-body">
                            <h4 class="card-title">Ｂ社</h4>
                            <p class="card-text">Ｂ社の説明</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="card">
                        <img class="card-img-top" src="" alt="Ｃ社のイメージ">
                        <div class="card-body">
                            <h4 class="card-title">Ｃ社</h4>
                            <p class="card-text">Ｃ社の説明</p>
                        </div>
                    </div>
                </div>

	        <div class="col-lg-4">
                    <div class="card">
                        <img class="card-img-top" src="" alt="Ｄ社のイメージ">
                        <div class="card-body">
                            <h4 class="card-title">Ｄ社</h4>
                            <p class="card-text">Ｄ社の説明</p>
                        </div>
                    </div>
                </div>    

                <div class="col-lg-4">
                    <div class="card">
                        <img class="card-img-top" src="images//e-learning.jpeg" alt="Ｅ社のイメージ">
                        <div class="card-body">
                            <h4 class="card-title">Ｅ社</h4>
                            <p class="card-text">Ｅ社の説明</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="card">
                        <img class="card-img-top" src="images//e-learning.jpeg" alt="Ｆのイメージ">
                        <div class="card-body">
                            <h4 class="card-title">Ｆ社</h4>
                            <p class="card-text">Ｆ社</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


{#	{% include '' %}	#}


	<div class="box mt-4 mb-4">	
	    <button type="button" class="btn btn-success btn-lg mx-auto d-block">口コミ投稿はこちら</button>
	</div>


	<div class="box">
            <div class="row">
                <div class="card mx-auto">
                    <div class="card-body">
		        <p class="border-bottom" style="font-size:28px;">カツラの相場</p>
			<a>コンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツ
                        コンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツ
                        コンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツ
                        コンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツ
                        コンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツ</a>

		    </div>
                </div>
            </div>
        </div>


        <div class="container">
	    <div class="row">
                <div class="col-lg-3 mx-auto d-block">
                    <div class="card border-0">
                       <div class="card-body">
                            <button href="#" type="button" class="btn btn-secondary btn-lg mx-auto d-block" style="width: 200px;">お問い合わせ</button>

                        </div>
                    </div>
                </div>

                <div class="col-lg-3 mx-auto d-block">
                    <div class="card border-0">
                        <div class="card-body">
			    <button href="#" type="button" class="btn btn-secondary btn-lg mx-auto d-block" style="width: 200px;">ポリシー</button>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
    <br /><br />
{% endblock %}

{#共通フッタとして追記したい情報を記載します。#}
{% block footer_scripts_add %}{% endblock %}
