{#レイアウトを継承します#}
{% extends "layout/layout.twig" %}

{#HTMLのタイトルを定義します。#}
{% block title %}TOP{% endblock %}

{# 適用させたいスタイルシートのパスを指定します #}
{% block header_scripts_add %}
{% endblock %}

{#ここから表示したい情報を記載します。#}
{% block page_content %}
    <img src="../public/assets/images/MainImage.jpg" class="img-fluid" alt="Responsive image">
    <div class="page-header text-center">
        <h1>カツラマッチ</h1>
    </div>
    <button type="button" class="btn btn-danger btn-lg mx-auto d-block" style="width: 200px;">登録はこちら！</button>

    <div class="containerr">

        <div class="box">
            <div class="row">
		<div class="card mx-auto">
                    <di class="card-body text-center">このページについて<br><br><br><br><br><br><br<>a</div>
		</div>
            </div>
	</div>

	<div class="box">
	    <div class="card text-white bg-info mb-3 mx-auto" style="max-width: 20rem;">
	        <div class="card-header">Header</div>
 		<div class="card-body">
		    <h4 class="card-title">Success card title</h4>
		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
 	    </div>
	    <div class="card text-white bg-primary mb-3 mx-auto" style="max-width: 20rem;">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h4 class="card-title">info card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
               </div>
            </div>
	    <div class="card text-white bg-success mb-3 mx-auto" style="max-width: 20rem;">
		<div class="card-header">Header</div>
	        <div class="card-body">
		    <h4 class="card-title">Danger card title</h4>
		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card">
                    <img class="card-img-top" src="" alt="Ａ社のイメージ">
                        <div class="card-body">
                            <h4 class="card-title">Ａ社</h4>
                            <p class="card-text">Ａ社の説明</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <img class="card-img-top" src="" alt="Ｂのイメージ">
                        <div class="card-body">
                            <h4 class="card-title">Ｂ社</h4>
                            <p class="card-text">Ｂ社の説明</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <img class="card-img-top" src="" alt="Ｃ社のイメージ">
                        <div class="card-body">
                            <h4 class="card-title">Ｃ社</h4>
                            <p class="card-text">Ｃ社の説明</p>
                        </div>
                    </div>
                </div>
	        <div class="col-lg-4">
                    <div class="card">
                        <img class="card-img-top" src="" alt="Ｄ社のイメージ">
                        <div class="card-body">
                            <h4 class="card-title">Ｄ社</h4>
                            <p class="card-text">Ｄ社の説明</p>
                        </div>
                    </div>
                </div>    
                <div class="col-lg-4">
                    <div class="card">
                        <img class="card-img-top" src="images//e-learning.jpeg" alt="Ｅ社のイメージ">
                        <div class="card-body">
                            <h4 class="card-title">Ｅ社</h4>
                            <p class="card-text">Ｅ社の説明</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <img class="card-img-top" src="images//e-learning.jpeg" alt="Ｆのイメージ">
                        <div class="card-body">
                            <h4 class="card-title">Ｆ社</h4>
                            <p class="card-text">Ｆ社</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

	
    </div>

{% endblock %}

{#共通フッタとして追記したい情報を記載します。#}
{% block footer_scripts_add %}{% endblock %}
