{#レイアウトを継承します#}
{% extends "layout/layout.twig" %}

{#HTMLのタイトルを定義します。#}
{% block title %}{{ result.name }}の詳細情報{% endblock %}

{# このページに適用させたいスタイルシートを指定します #}
{% block header_scripts_add %}
{% endblock %}

{#ここから表示したい情報を記載します。#}
{% block page_content %}
    <div class="container">
        <div class="page-header text-center my-4">
            <h1>お客様情報の詳細</h1>
        </div>
        <table style="font-size: 125%;">
            {% for key, value in result %}
                <tr>
                    <th><div class="mx-4 my-2">{{ item_names[key] }}</div></th>
                    <td><div class="mx-4 my-2">{{ value }}</div></td>
                </tr>
            {% endfor %}
        </table>
        <div class="text-right my-4">
            <button type="button" class="btn btn-primary" onclick="location.href='/item/list'">お客様一覧ページへ</button>
        </div>
    </div>
{% endblock %}

{#共通フッタとして追記したい情報を記載します。#}
{% block footer_scripts_add %}{% endblock %}
