{#レイアウトを継承します#}
{% extends "layout/toplayout.twig" %}

{#HTMLのタイトルを定義します。#}
{% block title %}プライバシーポリシー{% endblock %}

{# 適用させたいスタイルシートのパスを指定します #}
{% block header_scripts_add %}
{% endblock %}

{#ここから表示したい情報を記載します。#}
{% block page_content %}
    <div class="page-header text-center">
        <h1>プライバシーポリシー</h1>
    </div>
    <div class="container">
        <div class="box">
            <div class="row">
                <h2>個人情報保護方針</h2>
		<p>当サイトにおいて、業務上使用する当社の顧客・取引関係者等の個人情報（氏名、住所、性別、年齢、電話番号、郵便番号、予算、連絡先、会社名、カツラの情報）について、個人情報保護に関する法令及びその他規範を尊寿し、以下の通り個人情報保護方針を定め、これを実行し維持してまいります。</p>
		<h3>１．個人情報の取得について</h3>
		<p>当サイトは、取得する個人情報の利用目的を明示し、適切な手段によって取得します。
		<h3>２．個人情報の利用について</h3>
		<p>当サイトは、個人情報を、取得に際して明示した利用目的の範囲内で、業務の遂行上必要な限りにおいて、利用します。</p>
		<h3>３．個人情報の第三者への提供について</h3>
		<p>当サイトは本保護方針及び法令に定める場合を除き、個人情報を登録企業以外に本人の同意を得ることなく第三者に提供しません。</p>
		<h3>４．個人情報の開示・訂正。利用停止・消去</h3>
		<p>当サイトは、本心が自己の個人情報について、開示・訂正・利用停止・消去などを求める権利を有していることを確認し、これらの要求がある安倍には、速やかに対応します。</p>
		<h3>法令等の遵守</h3>
		<p>当サイトは、個人情報に関する法令及びその他の規範を尊寿します。<br /><br /><br />２０１９年８月２３日制定<br />カツラマッチ<br />チームＢ</p>
            </div>
        </div>
    </div>
    <br /><br /><br /><br />
{% endblock %}

{#共通フッタとして追記したい情報を記載します。#}
{% block footer_scripts_add %}{% endblock %}
